@charset "UTF-8";

/*-----------------------second-common----------------------------*/

#main-wrapper{
  margin-top: 120px;
}

.wave-background{
  width: 100%;
  height: 110px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h2{
  margin: 200px 0;
  font-size: 2.7rem;
}

h2 span{
  font-size: 1.6rem;
}

h3{
  font-size: 2.5rem;
}

h3 span{
  font-size: 1.3rem;
}

h4{
  font-size: 4rem;
  line-height: 3.8rem;
}

h4 span{
  font-size: 3rem
}

/*-----------------------what-slide----------------------------*/

#canvas1{
  background-color: rgba(0,0,0,0);
  height: 200px;
}

#what-slide .content-area{
  width: 100%;
  height: auto;
  background-color: #f1a725;
  padding: 100px 0px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

#what-slide .definition-area{
  width: 60%;
  height: auto;
  margin: 0 auto 170px;
  padding: 30px 0;
  line-height: 50px;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
}

#what-slide .truth-area{
  margin-bottom: 170px;
  padding: 150px 0;
  background: url(../images/about-background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.truth-area .truth-text{
  width: 65%;
  margin-left: 35%;
  padding-right: 20px;
  font-size: 18px;
}

.truth-text h3{
  font-size: 50px;
  margin-bottom: 30px;
}

.truth-text h3,
.truth-text p{
  text-align: left;
  line-height: 60px
}

/*-----------------------type-area----------------------------*/


.type-inner{
  display: flex;
  justify-content: center;
  margin: 100px auto;
  padding: 0 5%;
  background-image:
  url(../images/lager.png),
  url(../images/ale.png);
  background-repeat:
  no-repeat,no-repeat;
  background-position:
   left -120px bottom 0px ,right -70px bottom 0px;
   background-size: contain;
}

#each-title{
  width: 10%;
  order: 2;
  padding-top: 120px;
}

#each-title p:first-child{
  line-height: 168px;
  height: 168px;
}

#each-title p:nth-child(2){
  line-height: 190px;
  height: 190px;
  margin-top: 40px;
}

#each-title p:last-child{
  line-height: 100px;
  height: 100px;
  margin-top: 40px;
}

#lager,
#ale{
  width: 45%;
  height: auto;
  font-size: 1.5rem;
}

#lager{
  order: 1;
  background-image:
}

#ale{
  order: 3
}

.type,
.feature,
.fermentation{
  width: 70%;
  border: 5px solid #fff;
  border-radius: 10px;
  margin: 40px auto 20px;
  padding: 10px;
}

.type{
  height: 168px;
}

.feature{
  padding: 15px 10px;
  height: 190px;
}

#so{
  margin-top: 50px;
}

/*-----------------------details-slide----------------------------*/

#canvas2{
  background-color: rgba(241,167,37,1);
  height: 200px;
}

#details-slide{
  padding-bottom: 200px;
  background-color: #f56d00;
}

#details-slide .inner{
}

#details-slide .content-area{
  width: 100%;
  height: auto;
  padding: 0 5%;
  color: #fff;
}

.left,
.right{
  display: flex;
  justify-content: space-between;
  margin-top: 150px
}

.right .photo-area{
  order: 2
}

.right .text-area{
  order: 1
}

.photo-area{
  width: 50%;
  height: auto;
  position: relative;
}

.photo-area .beer-name{
  position: absolute;
  z-index: 50;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-weight: bold;
}

.photo-area .beer-photo{
  width: 60%;
  height: auto;
  margin: auto;
}

.photo-area img{

}

.text-area{
  width: 50%;
  height: auto;
  padding: 50px 0 0 30px;
}

.text-area h4{
  font-size: 3.2rem;
  text-align: left;
  margin-bottom: 50px;
}

.text-area p{
  text-align: left;
  font-size: 1.7rem;
  line-height: 35px;
}

.details-text{
  margin-top: 30px;
}

#pale-ale .beer-name{
  font-size: 20vw;
  line-height: 17vw;
  letter-spacing: -2vw;
}

#ipa .beer-name{
  top: 70px;
  font-size: 20vw;
  letter-spacing: -2vw;
}

#belgian-white .beer-name{
  font-size: 13vw;
  line-height: 13vw;
  letter-spacing: -1vw;
}

#stout .beer-name{
  font-size: 15vw;
  letter-spacing: -1vw;
}



/*-----------------------responsive----------------------------*/




@media screen and (min-width:768px) and (max-width:959px){

  #what-slide .truth-area{
    padding: 100px 0;
    margin-bottom: 120px;
  }

  #what-slide .content-area{
    padding: 100px 0 50px;
  }

  .truth-area .truth-text{
    width: 100%;
    margin-left: 0;
    padding: 0 5%;
  }

  .truth-text h3{
    font-size: 3rem;
  }

  .truth-text p{
    line-height: 4rem;
  }

  .type-inner{
    margin-bottom: 0;
    background-position:
     left -210px bottom 0px ,right -150px bottom 0px;
  }

  .lager,
  .ale{
    width: 40%;
    padding: 15px 10px;
  }

  #each-title p:nth-child(2){
    height: 220px;
    line-height: 220px;
  }

  #each-title p:last-child{
    height: 140px;
    line-height: 140px;
  }

  .feature{
    height: 220px;
  }

  .text-area{
    padding: 30px 0 0 30px;
  }

  .text-area h4{
    margin-bottom: 30px;
  }

  .text-area p{
    font-size: 1.4rem;
    line-height: 25px;
  }


}

@media screen and (min-width:320px) and (max-width:767px){

  #what-slide .definition-area{
    width: 70%;
    font-size: calc(1.4rem + ((1vw - 0.32rem) * 2.2543));
    line-height: 40px;
    margin: 0 auto 100px;
  }

  #what-slide .truth-area{
    padding: 100px 0;
    margin-bottom: 120px;
  }

  #what-slide .content-area{
    padding: 100px 0 50px;
  }

  .truth-area .truth-text{
    width: 100%;
    margin-left: 0;
    padding: 0 5%;
  }

  .truth-text h3{
    font-size: calc(3rem + ((1vw - 0.32rem) * 4.4743));
    text-align: left;
  }

  .truth-text p{
    font-size: calc(1.3rem + ((1vw - 0.32rem) * 1.56));
    line-height: calc(2.2rem + ((1vw - 0.32rem) * 1.5659));
  }

  .type-area h3{
    font-size: calc(2.3rem + ((1vw - 0.32rem) * 1.1185));

  }

  .type-inner{
    display: block;
    background-image: none;
    margin-bottom: 0;
    padding: 0;
  }

  #each-title{
    display: none;
  }

  #lager,
  #ale{
    width: 100%;
    height: auto;
    margin: 50px 0 80px;
    padding: 0 5%;
  }

  #lager{
    background-image: url(../images/lager.png);
    background-repeat: no-repeat;
    background-position: top 0px left -200px;
  }

  #ale{
    background-image: url(../images/ale.png);
    background-repeat: no-repeat;
    background-position: top 0px right -160px;
  }

  h4{
    font-size: calc(3rem + ((1vw - 0.32rem) * 1.1185));
    line-height: calc(3rem + ((1vw - 0.32rem) * 1.1185));
  }

  h4 span{
    font-size: calc(2rem + ((1vw - 0.32rem) * 1.1185))
  }

  .type,
  .feature,
  .fermentation{
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 60px;
  }

  #lager .type::before,
  #ale .type::before{
    position: absolute;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 60px;
    height: auto;
    background-color: #f1a725;
    content: "種類";
    font-size: calc(1.5rem + ((1vw - 0.32rem) * 0.8163));
    color: #fff;
  }

  #lager .feature::before,
  #ale .feature::before{
    position: absolute;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 60px;
    height: auto;
    background-color: #f1a725;
    content: "特徴";
    font-size: calc(1.5rem + ((1vw - 0.32rem) * 0.8163));
    color: #fff;
  }

  #lager .fermentation::before,
  #ale .fermentation::before{
    position: absolute;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 60px;
    height: auto;
    background-color: #f1a725;
    content: "発酵";
    font-size: calc(1.5rem + ((1vw - 0.32rem) * 0.8163));
    color: #fff;
  }

  .type p,
  .feature p,
  .fermentation p{
    font-size: calc(1.2rem + ((1vw - 0.32rem) * 0.4474))
  }

  #so{
    font-size: calc(2rem + ((1vw - 0.32rem) * 1.1185))
  }

  .left,
  .right{
    display: block;
    margin-top: 80px;
  }

  .photo-area{
    margin: 0 auto;
  }

  .text-area{
    width: 100%;
    padding: 30px 0px;
  }

  .text-area h4{
    font-size: 2.4rem;
    margin-bottom: 30px;
    text-align: center;
  }

  .text-area p{
    font-size: 1.3rem;
    line-height: 25px;
    text-align: center;
  }



}
